*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    /* background-color: #101010; */
    background: url(/img/fondo.png) no-repeat center center/cover;
    position: relative;
}
body::after{
    content: "";
    background: #1f1f1f67;
    position: absolute;
    inset: 0;
    left: -10px;
    z-index: 1;
}